body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
    color: antiquewhite;
}

button:hover {
    background-color: hsl(0, 0%, 40%);

}

button:active {
    border-radius: 40%;
    background-color: hsl(0, 0%, 45%);
}

.operand-btn {
    background-color: hsl(9, 97%, 38%);

}

.operand-btn:hover {
    background-color: hsl(9, 97%, 48%);
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.calculator {
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
    border: none;
}

.display {
    width: 100%;
    height: 100px;
    background-color: hsl(0, 0%, 40%);
    color: antiquewhite;
    font-size: 3rem;

}

